# -*- mode: org; -*-
#+HTML_HEAD: <link rel="stylesheet" type="text/css" href="readtheorg/css/htmlize.css"/>
#+HTML_HEAD: <link rel="stylesheet" type="text/css" href="readtheorg/css/font-awesome.min.css"/>
#+HTML_HEAD: <link rel="stylesheet" type="text/css" href="readtheorg/css/readtheorg.css"/>
#+HTML_HEAD: <script src="readtheorg/js/jquery.min.js"></script>
#+HTML_HEAD: <script src="readtheorg/js/bootstrap.min.js"></script>
#+HTML_HEAD: <script type="text/javascript" src="readtheorg/js/jquery.stickytableheaders.min.js"></script>
#+HTML_HEAD: <script type="text/javascript" src="readtheorg/js/readtheorg.js"></script>
#+HTML_HEAD: <style type="text/css"> #+HTML_HEAD:   pre.src:hover:before { display: none; }
#+HTML_HEAD: </style>

